<html>
    <head>
        <title>Mi sitio!</title>
        <link rel="stylesheet" href="/stylesheets/header.css">
    </head>
    <body>
        <header>
                <p> <i class="fas fa-ticket-alt"></i> Bienvenidos a mi database de las mejores peliculas de todos los tiempos!<i class="fas fa-ticket-alt"></i></p>
            <nav>
                <ul>
                    <li>
                        <a href="/peliculas/crear"><i class="fas fa-file-video"></i> Crear Peli </a>
                    </li>
                    <li>
                        <a href="/peliculas"><i class="fas fa-video"></i> Ver Pelis </a>
                    </li>
                </ul>
            </nav>
        </header>